/* @font-face {
    font-family: 'GillSansMT';
    src: local('GillSansMT'), url('../../fonts/GillSansMT.TTF') format('truetype');
} */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
* {
    font-family: 'Noto Sans TC';
}